.bodyExemplar {
  background-color: orange;
}

.bodyExemplar img {
  height: 200px;
}

#root {
  width: 80%;
  position: center;
  float: right;
}

.example {
  width: 80%;
  position: center;
  float: right;
}

Exemplar {
	float: right;
}